@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.date {
	color: #485978;
	padding-right:1px;
}

body {
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
	display: block;
}
.code {
    margin: -3px -3px 5px;
}

hr {
	border: 2px solid black;
	margin-top: 2%;
	margin-bottom: 2%;
}

footer {
	text-align: center;
}

a.navlink {
    font-size: 20px;
}
.date {
	color: SlateGray;
	text-align: center;
	padding-right:5px;
}

.article {
	text-align: center;
	display: block;
	text-decoration: none;
	font-size: 17px;
	color: DarkSlateGray;
}
